<html>
  <head>
    <title>Test Site for django-cat</title>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container"> 
      <div class="bootstrap-nav-here">
        {% block "sidebar" %}...{% endblock %}
      </div>
      <div class="bootstrap-content-here">
        {% block "content" %}...{% endblock %}
      </div>
    </div>
  </body>
</html>
